<div>
<h1>WELCOME TO BOOKSOCIAL</h1>
<p>Share books, comments and much more with your friends here in our Social Media book space</p>
</div>
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <li data-target="#carouselIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag("magazine.jpg", style:"width: 70rem;") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("arbol.JPG", style:"width: 70rem;") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("wogr.jpg", style:"width: 70rem;") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class= "People_Reviews">
    <h2> Customer Reviews </h2>
    <div class="card-columns">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sarah Smith</h5>
      <p class="card-text">I love this place, you can find all kind of book. My last book: The Book of Goose was a book rich in aphorisms. Claritas is what it has luminosity, and mystery. Enthralling!</p>
        <div> <%= image_tag("bookofg.jpg", class: "img-responsive", style:"width: 10rem;") %>
        </div>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Book World</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Joseph Conor</h5>
      <p class="card-text">OMG! I would like to share with all of you the realities of guerrilla warfare, with none of the romanticism attached.</p>
      
      <p class="card-text"><small class="text-muted">Last updated 5 days ago</small></p>
    </div>
  </div>
  <div class="card bg-success text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>This place is the best invention ever, I love to have the chance to share my favourite books with family and friends.</p>
      <footer class="blockquote-footer">
        <small>
          From a <cite title="Source Title">Book Lover</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Aoife Connoly </h5>
      <p class="card-text">"How to Live in the Now". I am really feeling very happy after reading this. Thank you so much for helping me understand my life.</p>
      <p class="card-text"><small class="text-muted">Last updated 28 mins ago</small></p>
    </div>
  </div>
  <div >
    <div> <%= image_tag("GUE.jpg", class: "img-responsive", style:"width: 10rem;") %>
        </div>
        <br>
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>My 5 starts went to The Picture of Dorian Gray by Oscar Wilde today! </p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone who works in <cite title="Source Title">Oxford Worlds</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Margaret McGarrigle</h5>
      <p class="card-text">Come to me profile Garrigle22, and have a look at my last favourite book.This lively book also covers the growing issue of hidden homelessness. </p>
      <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
    </div>
  </div>
</div>
</div>
<div class="card text-center">
  <div class="p-3 mb-2 bg-dark text-white">
    Comment Section
  </div>
  <div class="card-body">
    <h5 class="card-title">-- Feel Free to Share Your Thoughts With Us --</h5>
    <p class="card-text">would you like to leave a comment about your favourite book?</p>
    <a href="#" class="btn btn-outline-dark">Leave a comment</a>
  </div>
  

</div>
